/*--------------Aside: Activities--------------*/

aside > h1 {
  margin-top: 40px;
}

div.town-activities {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

div.acti-box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: left;
  padding-right: 15px;
  margin-bottom: 15px;
}

div.acti-box > div.activity {
  width: 100%;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 2.9px 32.8px rgba(0, 0, 0, 0.04),
    0 6.8px 45.5px rgba(0, 0, 0, 0.06), 0 21px 46px rgba(0, 0, 0, 0.1);
}

div.acti-box > div.activity > p {
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

div.acti-box-solo > div.activity > img {
  height: 400px;
}

div.acti-box-duo > div.activity > img {
  height: 150px;
}

div.activity > img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

div.last {
  padding: 0;
}

@media screen and (min-width: 768px) {
  /* Activities */

  aside > h1 {
    margin-top: 40px;
  }

  div.town-activities {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  div.acti-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 23%;
    justify-content: space-between;
    text-align: left;
    padding-right: 15px;
  }

  div.acti-box > div.activity {
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 2.9px 32.8px rgba(0, 0, 0, 0.04),
      0 6.8px 45.5px rgba(0, 0, 0, 0.06), 0 21px 46px rgba(0, 0, 0, 0.1);
  }

  div.acti-box > div.activity > p {
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  div.acti-box-solo > div.activity > img {
    height: 400px;
  }

  div.acti-box-duo > div.activity > img {
    height: 150px;
  }

  div.activity > img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  div.last {
    padding: 0;
  }
}

@media (min-width: 960px) {
  /* Activities */

  aside > h1 {
    margin-top: 40px;
  }

  div.town-activities {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  div.acti-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 23%;
    justify-content: space-between;
    text-align: left;
    padding-right: 15px;
  }

  div.acti-box > div.activity {
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 2.9px 32.8px rgba(0, 0, 0, 0.04),
      0 6.8px 45.5px rgba(0, 0, 0, 0.06), 0 21px 46px rgba(0, 0, 0, 0.1);
  }

  div.acti-box > div.activity > p {
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  div.acti-box-solo > div.activity > img {
    height: 400px;
  }

  div.acti-box-duo > div.activity > img {
    height: 150px;
  }

  div.activity > img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  div.last {
    padding: 0;
  }
}
