/*--------------Header--------------*/

header {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

header > .navbar > ul > li > img.logo {
  max-width: 150px;
}

header > .navbar > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

header > .navbar > ul > li {
  width: 50%;
  text-align: center;
}

header > .navbar > ul > li > a {
  text-decoration: none;
}

header > .navbar > ul > li > .navbar-logo {
  width: 60px;
}

header > .navbar > ul > li.sections > a {
  color: black;
  border-bottom: solid 2px #f2f2f2;
  padding-bottom: 12px;
  display: block;
  text-align: center;
}

header > .navbar > ul > li.sections > a:hover {
  border-bottom: solid 2px #0065fc;
  color: #0065fc;
}

header > .navbar > ul > li.register a {
  font-weight: bold;
  color: #0065fc;
  margin-right: 10px;
}

/*--------------Responsive--------------*/

@media screen and (min-width: 768px) {
  header {
    margin-left: 25px;
  }

  header > .navbar > ul {
    flex-flow: row nowrap;
  }

  header > .navbar > ul > li {
    margin: 0 0 20px 20px;
  }

  header > .navbar > ul > li > .navbar-logo {
    margin: 0;
  }

  header > .navbar > ul > li.sections a {
    border-top: solid 2px #f2f2f2;
    border-bottom: none;
    padding: 10px 10px 10px 10px;
  }

  header > .navbar > ul > li.sections a:hover {
    border-top: solid 2px #0065fc;
    border-bottom: none;
  }

  header > .navbar > ul > li.register {
    order: 2;
  }

  header > .navbar > ul > li.register > a {
    margin: 0;
    padding: 10px 10px 10px 10px;
    border-top: solid white 2px;
  }
}

/*--------------Responsive: wider screens--------------*/

@media screen and (min-width: 960px) {
}
